@font-face{
    src: url(robot.ttf);
    font-family: bing-chilling;
}

body{
    background-image: url(C:/Users/kwrif/OneDrive/Coding/HTML%20CSS/gaston-abascal-8F-6pXyQyLU-unsplash.jpg);
}


#pre1{
    font-size: 30px;
    font-family:bing-chilling;
    font-style: bold;
    border-style: double;
    border-width: 3px;
    border-color:blueviolet;
    border-radius: 5px;
    text-shadow:3px,3px,5px rgb(63, 4, 78)



}

#box1{
    width:100px;
    height:100px;
    background-color:dimgrey;
    box-shadow: 3px 3px 5px;

    
}