@font-face{
    src: url(robot.ttf);
    font-family: bing-chilling;
}




#pre1{
    font-size: 30px;
    font-family:bing-chilling;
    font-style: bold;
    border-style: double;
    border-width: 3px;
    border-color:blueviolet;
    border-radius: 5px;
    


}

#pre2{

    
}